:root {
  font-family: 'Rubik', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(228, 33%, 97%);
}

#container {
  padding-bottom: 42px;
  margin: auto;
  width: 54vw;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contentAnswer {
  width: 94%;
  display: flex;
  flex-direction: column;

  padding-left: 72px;

  border-left: solid 3px hsl(223, 19%, 93%);
}

.cards {
  padding: 22px;
  margin-top: 42px;
  display: flex;

  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;

  box-shadow: 1.5px 1.5px 4px hsl(239, 57%, 85%);
}

.score {
  width: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6px 22px 6px 0;

  background-color: hsl(228, 33%, 97%);
  border-radius: 6px;
  border: solid 0.1px hsl(223, 19%, 93%);
}

.score img {
  width: 14px;
  padding: 6px 0;
}

.score img:hover {
  cursor: pointer;
}

.score span {
  color: hsl(238, 40%, 52%);
  font-weight: 700;
  margin: 16px auto;
}

.contentUser {
  display: inline-block;
  width: 100%;
}

.replies {
  display: inline-block;
  width: 80%;
}

.contentUser header, .replies header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  display: flex;
  align-items: center;
}

.status img {
  width: 38px;
}

.name {
  margin: auto 16px;
  color: hsl(212, 24%, 26%);
}

.time {
  color: hsl(211, 10%, 45%);
}

.btns {
  position: relative;
  display: flex;
}

.reply, .delete, .edit {
  display: flex;
  align-items: center;
  border: none;
  background-color: #ffffff00;
  
  font-weight: 700;
}

.reply, .edit {
  color: hsl(238, 40%, 52%);
}

.delete {
  margin-right: 8px;
  color: hsl(358, 79%, 66%);
}

.reply:hover, .edit:hover {
  cursor: pointer;
  color: hsl(239, 57%, 85%);
}

.delete:hover {
  cursor: pointer;
  color: hsl(357, 100%, 86%);
}

.reply span {
  content: "";
  display: flex;
  width: 20px;
  height: 20px;
  background: url("./images/icon-reply.svg") no-repeat center;
}

.reply .icon {
  background: url("./images/icon-reply-hover.svg") no-repeat center;
}

.delete span {
  content: "";
  display: flex;
  width: 20px;
  height: 20px;
  background: url("./images/icon-delete.svg") no-repeat center;
}

.delete .icon {
  background: url("./images/icon-delete-hover.svg") no-repeat center;
}

.edit span {
  content: "";
  display: flex;
  width: 20px;
  height: 20px;
  background: url("./images/icon-edit.svg") no-repeat center;
}

.edit .icon {
  background: url("./images/icon-edit-hover.svg") no-repeat center;
}

.content {
  margin-top: 14px;
  color: hsl(211, 10%, 45%);
  font-weight: 400;
}






.addComment {
  display: flex;
  align-items: flex-start;
  padding: 22px;
  margin-top: 42px;

  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  box-shadow: 1.5px 1.5px 4px hsl(239, 57%, 85%);
}

.addComment img {
  width: 50px;
}

.addComment form {
  width: 100%;
  display: flex;

  margin-left: 16px;
}

.addComment form [type=text] {
  width: calc(100% - 108px);
  height: 80.5px;

  margin-right: 16px;
  /* padding: 32.25px 10px; */
  padding: 10px;
  border-radius: 8px;
  border: none;
  box-shadow: inset 1.5px 1px 3px hsl(239, 57%, 85%);
}

.addComment form [type=submit] {
  width: 108px;
  height: 46px;

  background-color: hsl(238, 40%, 52%);
  color: hsl(0, 0%, 100%);
  border-radius: 9px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;

  transition: background 0.5s;
}

.addComment form [type=submit]:hover {
  cursor: pointer;
  background-color: hsl(239, 57%, 85%);
}




.attribution {
  margin-top: 12px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}




/* @media (max-width: 480px) {

  * {
    font-size: 8px;
  }

  #container {
    padding-bottom: 8px;
    margin: auto;
    width: 65%;
  }

  .contentAnswer {
    width: 200px;
  }

  .contentUser {
    width: fit-content;
  }

  .status img {
    width: 16px;
  }

  .score {
    width: 14px;

    padding: 3px 4px;
    margin: 3px 10px 3px 0;
  }

} */